version: "3.9"

services:
  redis:
    image: redis
    container_name: redis
    ports:
      - "6379:6379"

  python:
    image: vishwacloudlab/pythonapp:v4-var
    container_name: python-app
    depends_on:
      - redis
