version: "3.9"

services:
  redis:
    image: redis
    container_name: redis
    ports:
      - "6379:6379"

  python:
    build: .
    container_name: vishwacloudlab/pythonapp:v4-var
    depends_on:
      - redis
